.App {
  height : 100vh;
}

.navbar-container {
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 1%;
  margin-bottom: 1%;
}

.brand-logo {
  height: 40px;
  width: 40px;
}

.categories-container {
  padding-top: 8px;
  margin-left: 5%;
}

.categories {
  text-decoration: none;
  color: black;
  margin-left: 50%;
}


.carousel-item {
  height: 70%;
}

.clickable-icon {
  margin-right: 30px;
  color: black;
}

.ml-auto {
  display: flex;
  align-items: center;
}

.card {
  margin: 10px;
  border-radius: 10px 10px;
  box-shadow: 0 0 40px rgba(0,0,0,0.3);
  transition: 0.3s;
  height: 450px;
  width: 300px;
}