.navbar-container {
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 2%;
}

.brand-logo {
  height: 40px;
  width: 40px;
}

.categories-container {
  padding-top: 8px;
  margin-left: 5%;
}

.categories {
  text-decoration: none;
  color: black;
  margin-left: 8%;
}

.clickable-icon {
  margin-right: 30px;
  color: black;
}

.ml-auto {
  display: flex;
  align-items: center;
}